@import "../../../theme/variables";

.link-with-message {
  color: #3F3F3F;
  font-size: 18px;
  font-family: $primary-font-regular;
  a {
    color: #CB001B;
    font-family: $primary-font-semi-bold;
  }
}
