.p-heading {
  color: $text-s;
  font-size: 64px !important;
}
.s-heading {
  color: $text-n;
  font-size: 64px !important;
}
.form-group small {
  color: #cb021a;
  font-weight: bold;
  display: flex;
}
